doctype html
html(lang="fr")
  head
    meta(charset="utf-8")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" type="text/css")

    title pageTitle
  body
    .row.column
      block content

    script(type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/plugins/foundation.core.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/plugins/foundation.util.mediaQuery.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/plugins/foundation.abide.js")
    block scripts
