doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css" type="text/css")
    title= app.siteTitle

  body
    .top-bar
      .top-bar-title
        ul.menu
          li: a(href='/')= app.siteTitle
      //- .top-bar-left À gauche
      .top-bar-right
        ul.menu
          if credentials
            li: a(href='/me')= credentials.name
            li: a(href='/logout') Logout
          else
            li: a(href='/login') Login
            li: a(href='/register') Register

    .row.column
      block content

    script(type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/plugins/foundation.core.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/plugins/foundation.util.mediaQuery.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/plugins/foundation.abide.js")
    block scripts
