extends ./_layout.pug

block content
  h1 A view
    small  ...to a user

  if credentials
    h2 Credentials
    pre= JSON.stringify(credentials, null, ' ')

  if app && app.vault
    pre= JSON.stringify(app.vault, null, ' ')
