h1 Init

h2 Ready when you are.

if error
  p There was an error.
  p= error

form(method='post')
  input(type='text' name='name' required)
  br
  input(type='password' name='password' required)
  br
  input(type='submit')
