extends ./_layout.pug

block content
  h1 A view
    small  ...to a user

  form(method='post')
    input(type='text' name='name' placeholder='name')
    br
    input(type='password' name='pw' placeholder='password')
    br
    input(type='submit')
