extends ./_layout.pug

block content
  h1 Welcome!

  form(method='post')
    input(type='text' name='name' placeholder='name' required)
    br
    input(type='password' name='pw' placeholder='password')
    br
    input(type='submit')
