h1 Register

h2 Créer votre compte

form(method='post')
  input(type='text' name='name' required placeholder='name')
  br
  input(type='email' name='email' placeholder='email')
  br
  input(type='text' name='pw' required placeholder='password')
  br
  input(type='text' name='pw2' required placeholder='répétez votre password')
  br
  input(type='submit')
