h1 A view
  small  ...to a user

h2: a(href='/') Home

p: a(href='/p2') go to p2

if isAuthenticated
  p: a(href='/logout') Logout
else
  p: a(href='/login') Login

h2 Auth
if credentials
  h3 credentials
  pre= JSON.stringify(credentials, null, ' ')

if artifacts
  h3 artifacts
  pre= JSON.stringify(artifacts, null, ' ')

if error
  h3 error
  pre= JSON.stringify(error, null, ' ')
